:root {
    --white: #ffffff;
    --off-white: #F7F5F2;
    --text: #333333;
    --gray: #999999;
    --primary: #489774;
    --secondary: #F9D6E0;
    --tertiary: #E08EA6;
    --hover: #155741;
    --bg: #073827;
    --body: "Inter", sans-serif;
    --pre-header: "JetBrains Mono", monospace;
    --header: "p22-mackinac-pro";
}
body {
    font-family: var(--body);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text);
}
body * {
    transition: all 0.4s;
}
body *:last-child {
    margin-bottom: 0;
}
a {
    display: inline-block;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
h1, h2, h3, h4 {
    font-family: var(--header);
    line-height: 1.11;
    font-weight: 400;
}
h1, .h1 {
    font-size: 54px;
    line-height: 1.11;
    margin-bottom: 16px;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 36px;
    line-height: 1.17;
}
h4 {
    font-size: 24px;
    line-height: 1.25;
}
h5 {
    font-size: 18px;
    font-family: var(--pre-header);
    font-weight: 600;
    line-height: 1.17;
    color: var(--gray);
}
h6 {
    line-height: 1.5;
}
p {
    margin-bottom: 24px;
}
.btn-group {
    display: flex;
    align-items: center;
    column-gap: 24px;
    row-gap: 16px;
    flex-wrap: wrap;
}
.container {
    max-width: 1600px;
    padding: 0 100px;
}
.link-with-icon {
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 8px;
}
.link-with-icon.small {
    font-size: 13px;
}
.primary-solid {
    padding: 13px 30px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5px 50px 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
:is(.primary-solid, .hover-transparent) i {
    line-height: 24px;
    font-size: 20px;
}
.primary-solid:hover, .hover-transparent:hover {
    color: var(--white);
    background-color: var(--hover);
}
.primary-solid.small {
    font-size: 14px;
    line-height: 24px;
    padding: 8px 20px;
}
.primary-solid.small i {
    font-size: 18px;
}
.hover-transparent {
    padding: 12px 29px;
    color: var(--hover);
    background: transparent;
    border: 1px solid var(--hover);
    border-radius: 5px 50px 50px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}
.owl-carousel .owl-stage {
    display: flex;
    align-items: stretch;
}
.owl-carousel .owl-stage .item {
    height: 100%;
}
/* Site Header */
.topbar {
    padding: 16px 24px 16px 32px;
}
.topbar-left p {
    font-size: 13px;
}
.topbar-left p a {
    color: var(--text);
    font-weight: 600;
    text-decoration: underline;
}
.topbar-right {
    display: flex;
    gap: 24px;
}
.main-header {
    background-color: var(--bg);
    padding: 0 24px 0 32px;
    border-radius: 100px;
    position: relative;
}
.header-bottom {
    padding: 20px 0;
}
.header-bottom-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 516px;
    padding: 8px;
    background-color: var(--off-white);
    border-radius: 60px;
    gap: 8px;
}
.left-member-img {
    flex: 0 0 auto;
}
.bottom-right-content {
    font-size: 14px;
}
.bottom-right-content a {
    color: var(--primary);
    text-decoration: underline;
}
/* Footer */
footer.site-footer {
    background-color: var(--bg);
    color: var(--white);
    padding: 96px 0 48px;
    background-image: url(../img/footer-bg-vector.webp);
    background-repeat: no-repeat;
    background-position: center right;
}
.footer-top-content {
    max-width: 700px;
    margin-bottom: 60px;
}
.site-logo-sticker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    background: var(--primary);
    border-radius: 50%;
    padding: 8px 8px 4px;
    margin-bottom: 36px;
}
.footer-top-content h3 {
    max-width: 500px;
    margin-bottom: 40px;
}
.footer-top-content h3 span {
    color: var(--primary);
}
ul.social-icon-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 24px;
    row-gap: 16px;
    margin-bottom: 48px;
}
ul.social-icon-list li a {
    font-size: 24px;
    line-height: 1;
    color: var(--white);
}
.footer-menu-group {
    padding: 44px 0;
    border-top: 1px dashed var(--primary);
    border-bottom: 1px dashed var(--primary);
}
.single-footer-nav h6 {
    font-size: 14px;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 16px;
}
.single-footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.single-footer-nav ul li a {
    color: var(--white);
    font-size: 12px;
    line-height: 2;
}
.single-footer-nav ul li a:hover, .copyright-content p a:hover {
    color: var(--tertiary);
}
.copyright-content p {
    font-size: 12px;
    line-height: 1.75;
}
.copyright-content p a {
    color: var(--white);
}

/* Page Style */
section.main-hero {
    padding: 80px 0 40px;
}
.main-hero-left {
    max-width: 600px;
}
.main-hero-left h1 span {
    background-color: #ffcddc;
    padding: 0 8px;
    border-radius: 8px;
}
.main-hero-right {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 550px;
    margin-left: auto;
}
.main-hero-right .hero-card {
    flex: 1 1 calc(60% - 12px);
    background-color: var(--off-white);
    padding: 20px 24px 16px;
    border-radius: 15px;
    font-size: 14px;
}
.main-hero-right .hero-card h6 {
    margin-bottom: 0;
    font-size: 14px;
}
.main-hero-right .hero-card p {
    color: var(--primary);
    margin-bottom: 12px;
}
.main-hero-right .hero-card h2 {
    font-size: 48px;
    line-height: 1.25;
    color: var(--primary);
    margin-bottom: 16px;
}
.prev-next-icon {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
.prev-next-icon span {
    line-height: 18px;
    padding: 0 12px;
    border: 1px solid var(--primary);
}
.prev-next-icon span.prev {
    border-radius: 50px 5px 5px 50px;
}
.prev-next-icon span.next {
    border-radius: 5px 50px 50px 5px;
}
.main-hero-right .small-img {
    flex: 1 1 calc(40% - 12px);
}
.main-hero-right .small-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.main-hero-right .full-img {
    flex: 1 1 100%;
}
.main-hero-right .full-img img {
    width: 100%;
    border-radius: 15px;
}
section.image-with-3-teaser {
    padding: 40px 0 80px;
}
.full-width-img {
    margin-bottom: 40px;
}
.full-width-img img {
    width: 100%;
}
.three-teaser-container {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    justify-content: center;
}
.three-teaser-container .single-teaser-content {
    max-width: 275px;
}
.single-teaser-content .teaser-icon {
    height: 40px;
    line-height: 40px;
    color: var(--primary);
    font-size: 34px;
    margin-bottom: 24px;
}
.single-teaser-content h3 {
    font-weight: 500;
    margin-bottom: 16px;
}
span.teaser-divider {
    height: 132px;
    border-right: 1px dashed var(--bg);
    margin-top: 72px;
}
section.content-carousel {
    padding: 80px 0;
    overflow: hidden;
}
.carousel-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
.carousel-heading h2 {
    flex: 1;
    max-width: 750px;
}
.carousel-navigation {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
}
.carousel-navigation button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--bg);
    background: var(--bg);
    color: var(--white);
    padding: 8px;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
}
.single-carousel-content, .single-carousel-image {
    max-width: 360px;
    width: 100%;
    height: 100%;
}
.single-carousel-content {
    padding: 40px 36px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
}
.single-carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px
}
.single-carousel-content.pink {
    background: #F9D6E0;
}
.single-carousel-content h2 {
    font-size: 60px;
    color: var(--bg);
}
.single-carousel-content span {
    font-size: 14px;
}
.single-carousel-content.bg {
    background: var(--bg);
    color: var(--off-white);
}
.single-carousel-content h5 {
    color: var(--tertiary);
    margin-bottom: 32px;
}
.single-carousel-content h4 {
    font-size: 21px;
    font-family: var(--body);
    line-height: 1.42;
}
.carousel-contet .owl-carousel .owl-stage-outer {
    overflow: visible;
}