:root {
    --white: #ffffff;
    --off-white: #F7F5F2;
    --text: #333333;
    --gray: #999999;
    --primary: #489774;
    --secondary: #F9D6E0;
    --tertiary: #E08EA6;
    --hover: #155741;
    --bg: #073827;
    --body: "Inter", sans-serif;
    --pre-header: "JetBrains Mono", monospace;
    --header: "p22-mackinac-pro";
}
body {
    font-family: var(--body);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text);
}
body * {
    transition: all 0.4s;
}
body *:last-child {
    margin-bottom: 0;
}
a {
    display: inline-block;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
h1, h2, h3, h4 {
    font-family: var(--header);
    line-height: 1.11;
    font-weight: 400;
}
h1, .h1 {
    font-size: 54px;
    line-height: 1.11;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 36px;
    line-height: 1.17;
}
h4 {
    font-size: 24px;
    line-height: 1.25;
}
h5 {
    font-size: 18px;
    font-family: var(--pre-header);
    font-weight: 600;
    line-height: 1.17;
    color: var(--gray);
}
h6 {
    line-height: 1.5;
}
.container {
    max-width: 1600px;
    padding: 0 100px;
}
.link-with-icon {
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 8px;
}
.link-with-icon.small {
    font-size: 13px;
}
.primary-solid {
    padding: 13px 30px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5px 50px 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.primary-solid i {
    line-height: 24px;
    font-size: 20px;
}
.primary-solid:hover {
    background-color: var(--hover);
}
.primary-solid.small {
    font-size: 14px;
    line-height: 24px;
    padding: 8px 20px;
}
.primary-solid.small i {
    font-size: 18px;
}
/* Site Header */
.topbar {
    padding: 16px 24px 16px 32px;
}
.topbar-left p {
    font-size: 13px;
}
.topbar-left p a {
    color: var(--text);
    font-weight: 600;
    text-decoration: underline;
}
.topbar-right {
    display: flex;
    gap: 24px;
}
.main-header {
    background-color: var(--bg);
    padding: 0 24px 0 32px;
    border-radius: 100px;
    position: relative;
}

/* Footer */
footer.site-footer {
    background-color: var(--bg);
    color: var(--white);
    padding: 96px 0 48px;
    background-image: url(../img/footer-bg-vector.png);
    background-repeat: no-repeat;
    background-position: center right;
}
.footer-top-content {
    max-width: 700px;
    margin-bottom: 60px;
}
.site-logo-sticker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    background: var(--primary);
    border-radius: 50%;
    padding: 8px 8px 4px;
    margin-bottom: 36px;
}
.footer-top-content h3 {
    max-width: 500px;
    margin-bottom: 40px;
}
.footer-top-content h3 span {
    color: var(--primary);
}
ul.social-icon-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 24px;
    row-gap: 16px;
    margin-bottom: 48px;
}
ul.social-icon-list li a {
    font-size: 24px;
    line-height: 1;
    color: var(--white);
}
.footer-menu-group {
    padding: 44px 0;
    border-top: 1px dashed var(--primary);
    border-bottom: 1px dashed var(--primary);
}
.single-footer-nav h6 {
    font-size: 14px;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 16px;
}
.single-footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.single-footer-nav ul li a {
    color: var(--white);
    font-size: 12px;
    line-height: 2;
}
.single-footer-nav ul li a:hover, .copyright-content p a:hover {
    color: var(--tertiary);
}
.copyright-content p {
    font-size: 12px;
    line-height: 1.75;
}
.copyright-content p a {
    color: var(--white);
}